:root {
  --color-brand-light: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
}

/* base */
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/* button */
.button {
  color: var(--color-primary-light);
  background: #819b57;
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: transparent;
  color: var(--color-brand-dark);
}

/* link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero_title {
  color: var(--color-primary-light);
}

.hero_title .accent {
  color: var(--color-brand-light);
}
/* advantages section */

.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
